/* адаптив */
/* переключение на бургер-меню */
@media (max-width: 1200px) {
  header {
    padding-top: 2vh;
  }
  .logo img{
    width: 60%;
  }
  .burger-menu {
    display: block;
  }
  nav:not(.active) {
    display: none;
  }
  .product-title {
    font-size: 4vw;
  }
  .price-left {
    margin-top: 0;
  }
  .product-description {
    font-size: 2vw;
  }
  .product-price {
    font-size: 2vw;
  }
  .rounded-image {
    width: 100%;
  }
  .product-list_3 img{
    width: 20vw;
  }
  .product-list_4 img {
    width: 23vw;
    padding-left: 0;
  }
  .logo_mobile{
    display: block;
  }
  .logo_desktop{
    display: none;
  }
}
/* Мобильная версия */
@media only screen and (max-width: 768px) {
  /* о нас */
  .title-text {
    font-size: 7vw;
    line-height: 1.4;
  }
  .desktop{
    display: none;
  }
  .block {
    flex-direction: column;
    padding-top: 60px;
  }
  .col-1 h2, .col-2 h2 {
    font-size: 36px;
  }
  .col-1 p {
    font-size: 18px;
    line-height: 24px;
  }
  .col-2 {
    text-align: start;
    margin: 40px 0 80px 0;
  }
  .col-2 img {
    width: 80vw;
    max-width: 100%;
  }
  .form{
    max-width: 85%;
    text-align: center;
    padding-top: 20px;
  }
  .slideshow-item-text {
    left: 6%;
    line-height: 1.5;
  }
  .slideshow {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    margin: 20px 0 60px 0;
  }
  .form-container{
    padding-bottom: 10vh;
  }
  .form-container h2{
    font-size: 44px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  /* магазин */
  .product-list_1,
  .product-list_2,
  .product-list_3,
  .product-list_4 {
    padding: 15% 5%;
  }
  .left-image, .right-image {
  border-radius: 15px;
  }
  .product-item:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  .price-right {
    text-align: left;
    margin: 0 0vw 0px 0;
  }
  .price-left {
    margin-top: 0;
  }
  .product-item:nth-child(2) .product-info {
    order: 2;
  }
  .product-item:nth-child(2) .product-image {
    order: 1;
  }
  .product-single .product-image {
    order: 1;
  }
  .product-single .product-info {
    order: 2;
  }
  .product-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .product-description {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .product-price {
    font-size: 28px;
  }
  .product-list_1 {
    flex-direction: column;
    gap: 30px;
  }
  .product-images {
    width: 100%;
    flex-direction: column;
  }
  .product-images img {
    width: 100%;
  }
  .product-info {
    width: 100%;
  }
  .product-pair {
    flex-direction: column;
    gap: 50px;
  }
  .product-item {
    width: 100%;
    flex-direction: column;
  }
  .product-image {
    width: 100%;
    margin-bottom: 25px;
  }
  .rounded-image {
    width: 100%;
  }
  .product-single {
    flex-direction: column;
  }
  .product-single .product-image,
  .product-single .product-info {
    width: 100%;
  }
  .product-single img{
   width: 70vw;
  }
  .product-list_4 .rounded-image {
    width: 100%;
    height: auto;
  }
  .keychain-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 15px;
  }
  
  .keychain-container img {
    width: 80%;
    max-width: 300px;
  }
  
  .keychain_description {
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .keychain_title {
    font-size: 32px;
  }
  
  .keychain_about,
  .keychain_price {
    font-size: 24px;
    padding: 20px 0;
  }
  
  .keychain_price {
    padding-bottom: 50px;
  }
  
  .buy-btn {
    width: 100%;
    max-width: 250px;
    margin-bottom: 50px;
  }
   /* мероприятия */
  .events-filter{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  .events-filter p{
    padding: 16px;
    margin: 12px 0 16px 0;
  }
  .posters-container {
    flex-direction: column;
    align-items: center;
  }
  .poster, .center-poster {
    width: 100%;
    margin-bottom: 70px;
  }
  .poster:last-child {
    margin-bottom: 0;
  }
  .mobile{
    display: block;
  }
  /* новости */
  .news-container {
    flex-direction: column;
    gap: 15px;
    margin: 10% 0;
  }
  .col-1 h2{
    font-size: 40px;
  }
  .news-image, 
  .news-text {
    width: 100%;
  }
  .news-container {
    display: flex;
    flex-direction: column;
  }
  .news-text {
    padding: 5vw 0;
    font-size: 18px;
    order: 2;
    font-family: 'InterMedium';
  }
  .news-image {
    order: 1;
  }
  .last-news {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px 0;
    gap: 20px;
  }
  .prev-news-btn {
    margin-left: 0;
    padding: 20px 25px;
    font-size: 24px;
    order: 2;
    margin-bottom: 10px;
  }
  .page-numbers {
    order: 1;
    font-size: 36px;
    margin-bottom: 15px;
  }

  /* футер */
  footer h3{
    font-size: 42px;
    padding: 42px 0 0 22px;
  }
  .footer-columns {
    flex-direction: column;
    width: 100%;
    padding: 42px 0 0 42px;
    gap: 30px;
  }
  .footer-column-1, 
  .footer-column-2 {
    width: 100%;
  }
  .footer-column-1 h4, .footer-column-2 h4{
    font-size: 24px;
    padding-bottom: 20px;
  }
  .footer-column-1 p, 
  .footer-column-2 p {
    padding-bottom: 20px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
  }
  .footer h3 {
    padding: 20px 20px 0;
    font-size: 32px;
  }
  .error {
    background-image: url("../images/bg-404mobile.png");
  }
}
