@keyframes slideanim {
    12.5%{
        opacity: 1;
        pointer-events: auto;
    }
    25%{
        opacity: 1;
        pointer-events: auto;
    }    
    37.5%{
        opacity: 0;
    }
}
@keyframes zoom {
    50%{
        transform: scale(1.1);
    }    
}
@media screen and (max-width: 1100px){
    .slideshow-item-text{
        max-width: 75%;
    }
}
@media screen and (max-width: 456px){
    .slideshow-item-text {
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
    .slideshow-item-text h5 {
        font-size: 18px;
    }
    .slideshow-item-text p {
        font-size: 13px;
    }
}
/* Анимация бургер меню в крестик */
.burger-menu.active .burger-icon span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.burger-menu.active .burger-icon span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.burger-menu.active .burger-icon span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}